services:
  mongodb:
    image: mongodb:v1
    container_name: mongodb
  catalogue:
    image: catalogue:v1
    container_name: catalogue
    depends_on:
      - mongodb
  redis:
    image: redis:7.0
    container_name: redis
  mysql:
    image: mysql:v1  
    container_name: mysql
  rabittmq:
    image: rabittmq:3
    container_name: rabittmq
    #we set environmet for rabittmq default username and password
    environment:
      RABBITMQ_DEFAULT_USER: roboshop
      RABBITMQ_DEFAULT_PASS: roboshop123
  user:
    image: user:v1
    container_name: user
    depends_on:
      - redis
      - catalogue

  cart:
    image: cart:v1
    container_name: cart
    depebds_on:
      - redis
      - catalogue

  shipping: 
    image: shipping:v1
    container_name: shipping
    depends_on:
      - mysql
      - cart 
      
  payment: 
    image: payment:v1
    container_name: payment
    depends_on:
      - catalogue
      - user
      - cart
  frontend:
      image: frontend:v1
      container_name: frontend
      ports:
      - 8080
      depends_on:
      - catalogue
      - user
      - cart
      - shipping
      - payment





networks:
  default:
    driver: bridge
    name: roboshop
    external: false #true if you are created manuallly
