services:
  catalogue:
    image: ramanadockerhub/catalogue:v1
    container_name: catalogue
    depends_on:
      - mongodb

  mongodb:
    image: ramanadockerhub/mongodb:v1
    container_name: mongodb
    volumes:
      - mongodb:/data/db

  redis:
    image: redis:7.0
    container_name: redis
    volumes:
      - redis:/data

  mysql:
    image: ramanadockerhub/mysql:v1
    container_name: mysql
    volumes:
      - mysql:/var/lib/mysql

  rabbitmq:
    image: rabbitmq:3
    container_name: rabbitmq
    volumes:
      - rabbitmq:/var/lib/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: roboshop
      RABBITMQ_DEFAULT_PASS: roboshop123

  user:
    image: ramanadockerhub/user:v1
    container_name: user
    depends_on:
      - mongodb
      - redis

  cart:
    image: ramanadockerhub/cart:v1
    container_name: cart
    depends_on:
      - redis
      - catalogue

  shipping:
    image: ramanadockerhub/shipping:v1
    container_name: shipping
    depends_on:
      - mysql
      - cart

  payment:
    image: ramanadockerhub/payment:v1
    container_name: payment
    depends_on:
      - rabbitmq
      - cart
      - user

  frontend:
    image: ramanadockerhub/frontend:v1
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - catalogue
      - user
      - cart
      - shipping
      - payment

volumes:
  mongodb:
  redis:
  mysql:
  rabbitmq:

networks:
  default:
    driver: bridge
    name: roboshop
    external: false
