services:
  mongodb:
    image: mongodb:v1
    container_name: mongodb
  catalogue:
    image: catalogue:v1
    container_name: catalogue
    depends_on:
      - mongodb
  redis:
    image: redis:7.0
    container_name: redis
  mysql:
    image: mysql:v1  
    container_name: mysql
  rabittmq:
    image: rabittmq:3
    container_name: rabittmq
    #we set environmet for rabittmq default username and password
    environment:
      RABBITMQ_DEFAULT_USER: roboshop
      RABBITMQ_DEFAULT_PASS: roboshop123
  user:
    image: user:v1
    con  


networks:
  default:
    driver: bridge
    name: roboshop
    external: false #true if you are created manuallly
