services:
  mongodb:
    build: ./mongodb
    image: mongodb:v1
    container_name: mongodb
    volumes:
      - mongodb:/data/db
  catalogue:
    build: ./catalogue
    image: catalogue:v1
    container_name: catalogue
    depends_on:
      - mongodb
  redis:
    image: redis:7.0
    container_name: redis
    volumes:
      - redis:/data
  mysql:
    build: ./mysql
    image: mysql:v1  
    container_name: mysql
    volumes:
      - mysql:/var/lib/mysql
  rabbitmq:
    image: rabbitmq:3
    container_name: rabbitmq
    volumes:
      - rabbitmq:/var/lib/rabbitmq
    #we set environmet for rabittmq default username and password
    environment:
      RABBITMQ_DEFAULT_USER: roboshop
      RABBITMQ_DEFAULT_PASS: roboshop123
  user:
    build: ./user
    image: user:v1
    container_name: user
    depends_on:
      - mongodb
      - redis

  cart:
    build: ./user
    image: cart:v1
    container_name: cart
    depends_on:
      - redis
      - catalogue

  shipping: 
    build: ./shipping
    image: shipping:v1
    container_name: shipping
    depends_on:
      - mysql
      - cart 
      
  payment: 
    build: ./shipping
    image: payment:v1
    container_name: payment
    depends_on:
      - catalogue
      - user
      - cart
  frontend:
    build: ./frontend

    image: frontend:v1
    container_name: frontend
    ports:
     - "80:80"
    depends_on:
      - catalogue
      - user
      - cart
      - shipping
      - payment
volumes:
  mongodb:
  mysql:
  redis:
  rabbitmq:
networks:
  default:
    driver: bridge
    name: roboshop
    external: false #true if you are created manuallly
